:root {
  --dark: #252626;
  --light: #01cec2;
  --white: #ffffff;
  --pink: #fc3f79;
}

.sphere {
  fill: var(--dark);
}

.gemeente {
  fill: transparent;
  stroke: var(--light);
  stroke-width: 0.3px;
}

.gemeente:hover {
  fill: var(--pink);
}

h1 {
  margin: 2em;
}

form {
  display: flex;
  position: relative;
  flex-direction: column;
  text-align: center;
}

label {
  background-color: var(--light);
  color: white;
  padding: 2em;
  border-radius: 5em 5em 5em 5em;
  margin: 1em;
  font-weight: bold;
}

label:hover {
  background-color: var(--light);
}

main {
  display: flex;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  background: var(--dark);
}
