.sphere {
  fill: #00010a;
}

.gemeente {
  fill: transparent;
  stroke: cyan;
  stroke-width: 0.5px;
}

.gemeente:hover {
  fill: orange;
}

.parkSpots {
  fill: rgb(158, 42, 21);
  stroke: rgb(255, 169, 169);
}
